*.local
.DS_Store
.claude
.cursor
.idea/
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
/phpcs.xml
/phpstan.neon
/phpunit.xml
/psalm.xml
/rector.php
/tests/.results/
composer.lock
composer.phar
vendor/
