<?xml version="1.0"?>
<psalm
    errorLevel="2"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedCode="false"
    ensureOverrideAttribute="false"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="vendor/squizlabs/php_codesniffer/src/Sniffs/Sniff.php"/>
        <file name="vendor/squizlabs/php_codesniffer/src/Files/File.php"/>
        <file name="vendor/squizlabs/php_codesniffer/src/Standards/Generic/Sniffs/Files/LineLengthSniff.php"/>
    </stubs>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
    </plugins>
</psalm>
