name: Code Quality
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  code_analysis:
    name: Code Analysis
    uses: kununu/shared-github-workflows/.github/workflows/backend_libraries_tests_and_code_quality.yml@sonarcloud
    secrets: inherit
    with:
      php-version: 8.4
